
@import url('https://fonts.googleapis.com/css?family=poppins:400,500,600,700,800,900');

body{
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size:15px;
    line-height: 1.7;
    color: #fff;
    background-color: rgb(144, 238, 149);
    overflow-x: hidden;
}
a{
    cursor: pointer;
    transition: all 200ms linear;
}

a:hover{
    text-decoration: none; 
}

.link {
     coLor: #fff;
    }

.link:hover { 
    color: #12fBad; 
}

p{
    font-weight: 508;
     font-size: 14px;
      Line-height: 1.7;
}
h4{
     font-weight: 600; 
}
h6 span{
         padding: 0 20pX;
         text-transform: uppercase;
        font-weight: 700;
}

.section{
    position: relative;
    width: 100%;
    display: block;
}

.full-height{
    min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
    position: absolute;
    left: -999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label{
    position: relative;
    display: block;
    text-align: center;
    width: 60pX;
    height: 16px;
    border-radius: 8px;
    padding:0;
    margin: 10px auto;
    cursor: pointer;
    background-color:#ffffff;
}
.checkbox:checked + label:before,
.checkbox:not(:checked)+label:before{

        position: absolute;
        display: block;
        width: 36px;
        height: 36px;
        border-radius : 50%;
        color: #12f8ad;
        background-color: #2a2b38;
        font-family:'unicons';
        content: '\eb4f';
        z-index: 20;
        top: -10pX;
        Left: -10pX;
        Line-height: 36pX;
        text-align: center;
        font-size: 24px;
        transition: all 0.5s ease;
}
.checkbox:checked + label:before {
    transform: translatex(44px) rotate(-270deg);
}